@{
    ViewBag.Title = "Contact";
}
<h3>Thông tin liên hệ</h3>

<address>
    Ay Bi Xi
    <br />
    <abbr title="Phone">Điện thoại:</abbr>
    0888888888
</address>

<address>
    <strong>Email:</strong>   <a href="ngoquangdai3386@gmail.com">ngoquangdai3386@gmail.com</a><br />
</address>